version: '3'
services:
  flutter:
    build:
      context: .
      dockerfile: ./flutter/Dockerfile
    container_name: flutter
    volumes:
      - ./:/home/project
    links:
      - node
  node:
    container_name: node
    image: node:7.7.2-alpine
    user: "node"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
    volumes:
      - ./node:/home/node
    expose:
      - "8081"
    command: "npm start"
  firestore:
    container_name: firestore
    image: mtlynch/firestore-emulator
